
    

header h2{
    background-color: rgb(45, 45, 63);
    text-align: center;
    height: 30px;
    width: 400px;
    color: floralwhite;
    margin-left: 200px;
    
}
small{
    color: royalblue;
}
.half-width{
    display: flex;
    /* margin-left: 5px; */
    justify-content: space-between;
    background-color: rgb(236, 219, 219);
}

.flexo{
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    background-color:palegoldenrod;
    /* margin-top: 10px; */
}
.history{
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    font-weight: 700;
}
.middle{
    
    background-color: rgb(236, 219, 219);
    height: 800px;
    width: 400px;
    padding: 10px;
}