.container{
    
}
header h2{
    background-color: rgb(228, 7, 7);
    text-align: center;
    height: 30px;
    width: 500px;
    color: floralwhite;
    margin-left: 300px;
    
}
small{
    color: royalblue;
}
.half-width{
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 225, 225);
}